bazel-bin
bazel-dungeon
bazel-genfiles
bazel-out
bazel-testlogs
bazel-bin/*
bazel-dungeon/*
bazel-genfiles/*
bazel-out/*
bazel-testlogs/*

*.jpg
*.png
*.sh
*.pyc
*.swp
*.swn
*.swo
docs/_site/*
docs/_site
docs/.sass-cache                                                                     
docs/.jekyll-metadata

